APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:JhN//fNc7nBtkbRDxFQqO8Bj+HzC58Xtt1esBbspcaY=
APP_DEBUG=true
APP_URL=http://localhost:8001

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=mxh_datn
DB_USERNAME=user
DB_PASSWORD=root

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=huyberrrrr@gmail.com
MAIL_PASSWORD="xecp urvw rrsy lpxj"
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="huyberrrrr@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

TOXIC_DETECTOR_URL=http://127.0.0.1:8000
